target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.DS_Store
.settings/
*.log
.gradle
classes/
/build
buildSrc/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

.pmd
/reports
*Main.java
